<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Home Page</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'singleApp/css/index.css' %}">    
</head>

<body>
    <div class="warpper">

        <div class="box">
            This is the homepg
        </div>

        <div class="box">
            If you would like to see the time in California type '/whatTimeIsIt/time' in the end of the url
        </div>

        <div class="box">
            If you want to generate a random word game type '/random_word' to the end of the url
        </div>

    </div>
</body>

</html>