*{
    margin: 0px auto;
}

.wrapper {
    background-image: url('mts.jpg');
    /* transform: rotate(90deg); */
    background-repeat: no-repeat;
    background-size: cover;
    min-width: 970px;
    max-width: 1100px;
    min-height: 1100px;
    margin-top: 0px;
    padding-top: 1em;
}

.row{
    display: block;
    text-align: center;
}


.box {
    display: block;
    margin-top: 1em;
    border: 3px;
    border-radius: 1em;
    box-shadow: 7px 7px 8px rgba(29, 28, 28, 0.795);
    text-align: center;
    width: max-content;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    background-image:linear-gradient(to right bottom,rgba(97, 171, 255, 0.43),
                                    rgba(97, 205, 255, 0.43),rgba(151, 220, 252, 0.43),
                                    rgba(97, 205, 255, 0.43),rgba(97, 171, 255, 0.43) );
    /* background-color: rgba(97, 205, 255, 0.43); */
    font-size: 1.25em;
    padding: 1em;
}

.box:first-child {
    padding: 1em;
    font-size: 1.75em;
}

#tiiime {
    font-size: 3em;
}