<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width='device-width', initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Random Word Generator</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'rnd_word/css/homePgForGame.css' %}">  
</head>

<body>
    <div class="wrapper">
        <div class="box">
            Random Word (attemps # {{ request.session.count }})
        </div>

        <div class="box">
            {{ request.session.name }}

        </div>

        <form action="random_word/generate">
            <input type="submit" value="Generate">
        </form>
        <form action="random_word/destroy">
            <input type="submit" value='Reset Count'>
        </form>

</body>

</html>